doctype html
head
    title=config.global_variable.default_title
    link(href='./assets/css/bootstrap.min.css' rel='stylesheet')
    if config.general.theme == 'purple'
        link(href='./assets/css/bootstrap_purple_theme.css' rel='stylesheet')
    link(href='./assets/css/custom_css.css' rel='stylesheet')
    script(src='./assets/js/bootstrap.bundle.min.js')